{% layout "docs_layout" %}
{% block title %}Template: Contact% endblock %}
{% block content %}
<nav class="top-bar" data-topbar>
    <ul class="title-area">
       
      <li class="name">
        <h1>
          <a href="#">
            Top Bar Title
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
       
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 1</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Level 2</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 3</a>
          <ul class="dropdown">
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
 
   
 
 
   
 
  <div class="row">
 
     
    <div class="large-9 columns">
 
      <h3>Get in Touch!</h3>
      <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.</p>
 
      <div class="section-container tabs" data-section>
        <section class="section">
          <h5 class="title"><a href="#panel1">Contact Our Company</a></h5>
          <div class="content" data-slug="panel1">
            <form>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Your Name</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="yourName" placeholder="Jane Smith">
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline"> Your Email</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                </div>
              </div>
              <label>What's up?</label>
              <textarea rows="4"></textarea>
              <button type="submit" class="radius button">Submit</button>
            </form>
          </div>
        </section>
        <section class="section">
          <h5 class="title"><a href="#panel2">Specific Person</a></h5>
          <div class="content" data-slug="panel2">
            <ul class="large-block-grid-5">
              <li><a href="/cdn-cgi/l/email-protection#fd909c91bd8e988f9893948984d39f9ed38f989f"><img src="http://placehold.it/200x200&text=[person]">Mal Reynolds</a></li>
              <li><a href="/cdn-cgi/l/email-protection#85ffeae0c5f6e0f7e0ebecf1fcabe7e6abf7e0e7"><img src="http://placehold.it/200x200&text=[person]">Zoe Washburne</a></li>
              <li><a href="/cdn-cgi/l/email-protection#9af0fbe3f4ffdae9ffe8fff4f3eee3b4f8f9b4e8fff8"><img src="http://placehold.it/200x200&text=[person]">Jayne Cobb</a></li>
              <li><a href="/cdn-cgi/l/email-protection#0e6a616d4e7d6b7c6b60677a77206c6d207c6b6c"><img src="http://placehold.it/200x200&text=[person]">Simon Tam</a></li>
              <li><a href="/cdn-cgi/l/email-protection#0b6062676772647e7c627f6366726662656f4b786e796e65627f7225696825796e69"><img src="http://placehold.it/200x200&text=[person]">River Tam</a></li>
              <li><a href="/cdn-cgi/l/email-protection#107c7571767f7e64787567797e7450637562757e7964693e72733e627572"><img src="http://placehold.it/200x200&text=[person]">Hoban Washburne</a></li>
              <li><a href="/cdn-cgi/l/email-protection#472528282c0734223522292e333e69252469352225"><img src="http://placehold.it/200x200&text=[person]">Shepherd Book</a></li>
              <li><a href="/cdn-cgi/l/email-protection#bcd7d0d9d9fccfd9ced9d2d5c8c592dedf92ced9de"><img src="http://placehold.it/200x200&text=[person]">Kaywinnet Lee Fry</a></li>
              <li><a href="/cdn-cgi/l/email-protection#e98087889b88a98e9c80858dc78a868499c7888585"><img src="http://placehold.it/200x200&text=[person]">Inarra Serra</a></li>
            </ul>
          </div>
        </section>
      </div>
    </div>
 
     
 
 
     
 
 
    <div class="large-3 columns">
      <h5>Map</h5>
       
      <p>
        <a href="" data-reveal-id="mapModal"><img src="http://placehold.it/400x280"></a><br/>
        <a href="" data-reveal-id="mapModal">View Map</a>
      </p>
      <p>
        123 Awesome St.<br/>
        Barsoom, MA 95155
      </p>
    </div>
     
  </div>
 
   
 
 
   
 
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
 
   
 
 
 
   
 
  <div class="reveal-modal" id="mapModal">
    <h4>Where We Are</h4>
    <p><img src="http://placehold.it/800x600"/></p>
 
     
    <a href="#" class="close-reveal-modal">×</a>
  </div>
{% endblock %}