{% layout "docs_layout" %}
{% block title %}Boilerplate Docs{% endblock %}
{% block content %}

<!-- Use the following if you need to define active item in side nav  -->
<!-- <input type="hidden" class="side-nav-handler" id="ready-to-pick"> -->
<!-- Otherwise active item gets set based on URL  -->

<div class="nav-test"></div>

{% endblock %}