<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{% endblock %}</title>
  		{% include "styles" %}
  		<script src="{{ "modernizr.js" | asset_url }}"></script>
	</head>
	<body>
				<!-- top-bar -->
		<div class="sticky">
		<nav class="top-bar" data-topbar role="navigation">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="/docs">UXP Boilerplate</a></h1>
		    </li>
		     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		  </ul>

		  <section class="top-bar-section">
		    <ul class="right">
		      <li class="has-dropdown">
		        <a href="#">Templates</a>
		        <ul class="dropdown">
		          <li><a href="/docs/templates/banded">Banded</a></li>
		          <li><a href="/docs/templates/blog">Blog</a></li>
		          <li><a href="/docs/templates/feed">Feed</a></li>
		          <li><a href="/docs/templates/grid">Grid</a></li>
		          <li><a href="/docs/templates/orbit_home">Orbit Home</a></li>
		          <li><a href="/docs/templates/banner_home">Banner Home</a></li>
		          <li><a href="/docs/templates/sidebar">Sidebar</a></li>
		          <li><a href="/docs/templates/contact">Contact</a></li>
		          <li><a href="/docs/templates/marketing">Marketing</a></li>
		          <li><a href="/docs/templates/realty">Realty</a></li>
		          <li><a href="/docs/templates/so_boxy">So Boxy</a></li>
		          <li><a href="/docs/templates/marketing2">Marketing 2</a></li>
		          <li><a href="/docs/templates/store">Store</a></li>
		          <li><a href="/docs/templates/workspace">Workspace</a></li>
		          <li><a href="/docs/templates/product">Product</a></li>
		          
		        </ul>
		      </li>
		      <li class="has-dropdown">
		        <a href="#">Basic</a>
		        <ul class="dropdown">
		        <li><a href="/docs/index#typography">Typography</a></li>
		          <li><a href="/docs/index#buttons">Buttons</a></li>
		          <li><a href="/docs/index#dropdowns">Dropdowns</a></li>
		          <li><a href="/docs/index#labels">Labels</a></li>
		          <li><a href="/docs/index#keystrokes">Keystrokes</a></li>
		          <li><a href="/docs/index#forms">Forms</a></li>
		          <li><a href="/docs/index#switches">Switches</a></li>
		          <li><a href="/docs/index#range_sliders">Range sliders</a></li>
		          <li><a href="/docs/index#progress_bar"></a>Progress Bar</li>
		          <li><a href="/docs/index#tables">Tables</a></li>
		          <li><a href="/docs/index#"></a></li>
		        </ul>
		      </li>
		      <li class="has-dropdown">
		        <a href="#">Advanced</a>
		        <ul class="dropdown">
		        <li><a href="/docs/advanced/content">Content Stencils</a></li>
		          <li><a href="#">Other</a></li>
		          <li><a href="#">else</a></li>
		        </ul>
		      </li>
		      <li><a href="/docs/links">Links</a></li>
		    </ul>
		  </section>
		</nav>
		</div>
		<!-- end of top-bar -->
		{% block content %}{% endblock %}
  		{% include "scripts" %}
	</body>
</html>