<div class="content-section">
	  <h3 class="subheader">{{ content.header }}</h3>
	  	<div class="row">
	  		<div class="medium-6 columns">
			  <h4>{{ content.subheader }}</h4>
			  <p>{{ content.paragraph }}</p>
			</div>
			<div class="medium-6 columns">
				<div class="panel xl flex-align">
            	<i class="fa fa-image fa-4x"></i>
        		</div>
			</div>
		</div>
	</div>