{% layout "docs_layout" %}
{% block title %}Boilerplate Docs{% endblock %}
{% block content %}

<div class="docs-sidebar" id="sticky-nav"></div>

<div class="row fullWidth">
	<div class="medium-12 columns">

<br>
<div class="row">
	<h3 id="typography">Typography</h3>
	<hr>
	<div class="medium-6 columns">
		<h1>H1 Heading</h1>
		<h2>H2 Heading</h2>
		<h3>H3 Heading</h3>
		<h4>H4 Heading</h4>
		<h5>H5 Heading</h5>
		<h6>H6 Heading</h6>
	</div>
	<div class="medium-6 columns">
		<h1 class="subheader">h1 subheader</h1>
		<h2 class="subheader">h2 subheader</h2>
		<h3 class="subheader">h3 subheader</h3>
		<h4 class="subheader">h4 subheader</h4>
		<h5 class="subheader">h5 subheader</h5>
		<h6 class="subheader">h6 subheader</h6>
	</div>

	<div class="medium-12 columns">
		<h1>H1 <small>Small segment header</small></h1>
		<h2>H2 <small>Small segment header</small></h2>
		<h3>H3 <small>Small segment header</small></h3>
		<h4>H4 <small>Small segment header.</small></h4>
		<h5>H5 <small>Small segment header</small></h5>
		<h6>H6 <small>Small segment header</small></h6>
	</div>

	<div class="medium-6 columns ">
		<h4>PARAGRAPH</h4>
		<p>We are problem-solvers. We use our rich toolbox covering UX design, web and mobile design, development and usability. If you are looking to develop and design your website or an app then you’ve come to the right place.</p>
	</div>
	<div class="medium-6 columns ">
		<h4>QUOTE</h4>
		<blockquote>Those people who think they know everything are a great annoyance to those of us who do.<cite>Isaac Asimov</cite></blockquote>
	</div>
	<div class="medium-12 columns">
		<h4>LINK</h4>
		<p>Links are very standard, and the <a href="http://www.youtube.com/watch?v=zT2aVoUkSDg">color is preset</a> to the Foundation primary color.</p>
	</div>
	<div class="medium-6 columns">
		<h4>DISC</h4>
		<ul class="disc">
			<li>List item with a much longer description or more content.</li>
			<li>List item
				<ul>
					<li>Nested list item</li>
					<li>Nested list item</li>
				</ul>
			</li>
			<li>List item</li>
		</ul>
	</div>
	<div class="medium-6 columns">
		<h4>CIRCLE</h4>
		<ul class="circle">
			<li>List item with a much longer description or more content.</li>
			<li>List item
				<ul>
					<li>Nested list item</li>
					<li>Nested list item</li>
				</ul>
			</li>
			<li>List item</li>
		</ul>
	</div>
	<div class="medium-6 columns">
		<h4>SQUARE</h4>
		<ul class="square">
			<li>List item with a much longer description or more content.</li>
			<li>List item
				<ul>
					<li>Nested list item</li>
					<li>Nested list item</li>
				</ul>
			</li>
			<li>List item</li>
		</ul>
	</div>
	<div class="medium-6 columns">
		<h4>NO-BULLET</h4>
		<ul class="no-bullet">
			<li>List item with a much longer description or more content.</li>
			<li>List item
				<ul>
					<li>Nested list item</li>
					<li>Nested list item</li>
				</ul>
			</li>
			<li>List item</li>
		</ul>
	</div>
	<div class="medium-6 columns">
		<h4>Ordered list</h4>
		<ol class="disc">
			<li>List item with a much longer description or more content.</li>
			<li>List item
				<ol>
					<li>Nested list item</li>
					<li>Nested list item</li>
				</ol>
			</li>
			<li>List item</li>
		</ol>
	</div>
	<div class="medium-6 columns">
		<h4>Ordered list</h4>
			<ul class="inline-list">
			  <li><a href="#">Link 1</a></li>
			  <li><a href="#">Link 2</a></li>
			  <li><a href="#">Link 3</a></li>
			  <li><a href="#">Link 4</a></li>
			  <li><a href="#">Link 5</a></li>
			</ul>
	</div>

	<div class="medium-12 columns">
		<h4></h4>
		<dl>
		  <dt>Definition Title</dt>
		  <dd>Definition Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>
		  <dd>Second definition</dd>
		</dl>
	</div>
	<div class="medium-6 columns">
		<h4>V-CARD</h4>
		<ul class="vcard">
		  <li class="fn">Gaius Baltar</li>
		  <li class="street-address">123 Colonial Ave.</li>
		  <li class="locality">Caprica City</li>
		  <li><span class="state">Caprica</span>, <span class="zip">12345</span></li>
		  <li class="email"><a href="#">g.baltar@example.com</a></li>
		</ul>
	</div>
	<div class="medium-12 columns">
	Foundation 5 typography <a href="http://foundation.zurb.com/docs/components/typography.html#available-scss-variables">SCSS Customization</a> docs.
	</div>
<!-- BUTTONS -->
</div>
<br>
<div class="row">
	<h3 id="buttons">Buttons</h3>
	<hr>
	<div class="medium-12 columns">
		<a href="#" class="tiny button">Tiny Button</a>
		<a href="#" class="small button">Small Button</a>
		<a href="#" class="button">Default Button</a>
		<a href="#" class="expand button"> Expand Button</a>
	</div>
	<div class="medium-12 columns">
		<a href="#" class="small alert button">Alert Button</a>
		<a href="#" class="small success button">Success Button</a>
		<a href="#" class="small warning button">Warning Button</a>
		<a href="#" class="small info button">Info Button</a>
		<a href="#" class="small disabled button">Disabled Button</a>
	</div>
	<div class="medium-6 columns">
		<a href="#" class="small radius button">Radius Button</a>
		<a href="#" class="small round button">Round Button</a>
	</div>
	<div class="medium-6 columns">
		<a href="#" class="small wf-button">WF Button</a>
	</div>
	<div class="medium-12 columns">
	<br>
	Foundation 5 buttons <a href="http://foundation.zurb.com/docs/components/buttons.html#customize-with-sass">SCSS Customization</a> docs.
	<br>
	<br>
	</div>
	<div class="medium-6 columns">
	<h4>Button group</h4>
	<!-- .stack-for-small changes destkop horizontal to small vertical button group orientation  -->
		<ul class="button-group stack-for-small"> 
		  <li><a href="#" class="button">Button 1</a></li>
		  <li><a href="#" class="button">Button 2</a></li>
		  <li><a href="#" class="button">Button 3</a></li>
		</ul>
	</div>
	<div class="medium-6 columns">
	<h4>Button group stack</h4>
		<ul class="button-group radius stack">
		  <li><a href="#" class="button alert">Button 1</a></li>
		  <li><a href="#" class="button secondary">Button 2</a></li>
		  <li><a href="#" class="button">Button 3</a></li>
		</ul>
	</div>
	<div class="medium-12 columns">
	<h4>Button bars</h4>
		<div class="button-bar">
		  <ul class="button-group">
		    <li><a href="#" class="small button">Button 1</a></li>
		    <li><a href="#" class="small button">Button 2</a></li>
		    <li><a href="#" class="small button">Button 3</a></li>
		  </ul>
		  <ul class="button-group">
		    <li><a href="#" class="small button">Button 1</a></li>
		    <li><a href="#" class="small button">Button 2</a></li>
		    <li><a href="#" class="small button">Button 3</a></li>
		  </ul>
		</div>
	</div>
</div>
<br>
<div class="row">
	<h3 id="dropdowns">Dropdowns</h3>
	<hr>
	<div class="medium-8 columns">
		<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button small radius dropdown">Dropdown Button</button>
			<br>
			<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
			  <li><a href="#">This is a link</a></li>
			  <li><a href="#">This is another</a></li>
			  <li><a href="#">Yet another</a></li>
			</ul>
	</div>
	<div class="medium-12 columns">
	<br>
	Foundation 5 dropdowns <a href="http://foundation.zurb.com/docs/components/dropdown_buttons.html#customize-with-sass">SCSS Customization</a> docs.
	<br><br>
	</div>
	<div class="medium-8 columns end">
		<button data-dropdown="drop2">Has Dropdown</button>
		<ul id="drop2" class="f-dropdown" data-dropdown-content>
		  <li><a href="#">This is a link</a></li>
		  <li><a href="#">This is another</a></li>
		  <li><a href="#">Yet another</a></li>
		</ul>
		<button data-dropdown="drop3">Has Content Dropdown</a>
		<div id="drop3" data-dropdown-content class="f-dropdown content">
		  <p style="color:black;">Some text that people will think is awesome! Some text that people will think is awesome! Some text that people will think is awesome!</p>
		</div>
	</div>
	<div class="medium-6 columns">
		<a href="#" data-options="align:right" class="button" data-dropdown="drop4">Link Dropdown right &raquo;</a>
		<ul id="drop4" class="small f-dropdown" data-dropdown-content>
		  <li><a href="#">This is a link</a></li>
		  <li><a href="#">This is another</a></li>
		  <li><a href="#">Yet another</a></li>
		</ul>
	</div>
	<div class="medium-6 columns">
		<a href="#" data-dropdown="hover1" data-options="is_hover:true">Has Hover Dropdown</a>

		<ul id="hover1" class="f-dropdown" data-dropdown-content>
		  <li><a href="#">This is a link</a></li>
		  <li><a href="#">This is another</a></li>
		  <li><a href="#">Yet another</a></li>
		</ul>
	</div>
	<div class="medium-12 columns">
	<br>
	Foundation 5 universal dropdowns <a href="http://foundation.zurb.com/docs/components/dropdown.html#customize-with-sass">SCSS Customization</a> docs.
	</div>
</div>
<br>
<div id="labels" class="row">
	<h3>Labels</h3>
	<hr>
	<div class="medium-12 columns">
		<span class="label">Regular Label</span>
		<span class="label success">Success Label</span>
		<span class="label secondary">Secondary Label</span>
		<span class="label alert">Alert Label</span>
		<span class="label radius">Regular RADIUS Label</span>
		<span class="label round success">Success ROUND Label</span>
	</div>
	<div class="medium-12 columns">
	<br>
	Foundation 5 buttons <a href="http://foundation.zurb.com/docs/components/labels.html#customize-with-sass">SCSS Customization</a> docs.
	</div>
</div>
<br>
<div class="row">
	<h3 id="keystrokes">Keystrokes</h3>
	<hr>
	<div class="medium-12 columns">
	<p>For example, to close your browser hit <kbd>Cmd</kbd> + <kbd>Q</kbd></p>
	</div>
	<div class="medium-12 columns">
	Foundation 5 keystroke <a href="http://foundation.zurb.com/docs/components/keystrokes.html#customize-with-sass">SCSS Customization</a> docs.
	</div>
</div>
<br>
<div class="row">
	<h3 id="forms">Forms</h3>
	<hr>
	<div class="medium-8 scolumns">
		<form>
			<div class="row">
				<div class="large-12 columns">
					<label>Input Label
						<input type="text" placeholder="large-12.columns" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<label>Input Label
						<input type="text" placeholder="large-4.columns" />
					</label>
				</div>
				<div class="large-4 columns">
					<label>Input Label
						<input type="text" placeholder="large-4.columns" />
					</label>
				</div>
				<div class="large-4 columns">
					<div class="row collapse">
						<label>Input Label</label>
						<div class="small-9 columns">
							<input type="text" placeholder="small-9.columns" />
						</div>
						<div class="small-3 columns">
							<span class="postfix">.com</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<label>Select Box
						<select>
							<option value="husker">Husker</option>
							<option value="starbuck">Starbuck</option>
							<option value="hotdog">Hot Dog</option>
							<option value="apollo">Apollo</option>
						</select>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<label>Choose Your Favorite</label>
					<input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
					<input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
				</div>
				<div class="large-6 columns">
					<label>Check these out</label>
					<input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
					<input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<label>Textarea Label
						<textarea placeholder="small-12.columns"></textarea>
					</label>
				</div>
			</div>
		</form>
	</div>
	<div class="medium-4 columns">
		<form>
		  <div class="row">
		    <div class="small-8 columns">
		      <div class="row">
		        <div class="small-3 columns">
		          <label for="right-label" class="right">Label</label>
		        </div>
		        <div class="small-9 columns">
		          <input type="text" id="right-label" placeholder="Inline Text Input">
		        </div>
		      </div>
		    </div>
		  </div>
		</form>
	</div>
	<div class="medium-4 columns end">
		<form>
		  <div class="row">
		    <div class="small-8 columns">
		      <div class="row">
		        <div class="small-3 columns">
		          <label for="right-label" class="right inline">Label</label>
		        </div>
		        <div class="small-9 columns">
		          <input type="text" id="right-label" placeholder="Inline Text Input">
		        </div>
		      </div>
		    </div>
		  </div>
		</form>
	</div>
	<div class="row">
		<div class="medium-8 columns">
			<form>
			  <fieldset>
			    <legend>Fieldset Legend</legend>

			    <label>Input Label
			      <input type="text" placeholder="Inputs and other form elements go inside...">
			    </label>
			  </fieldset>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="medium-8 columns">
			<form>
			  <div class="row collapse">
			    <div class="small-3 large-2 columns">
			      <span class="prefix">http://</span>
			    </div>
			    <div class="small-9 large-10 columns">
			      <input type="text" placeholder="Enter your URL...">
			    </div>
			  </div>
			  <div class="row">
			    <div class="large-12 columns">
			      <div class="row collapse">
			        <div class="small-10 columns">
			          <input type="text" placeholder="Hex Value">
			        </div>
			        <div class="small-2 columns">
			          <a href="#" class="button postfix">Go</a>
			        </div>
			      </div>
			    </div>
			  </div>
			  <div class="row">
			    <div class="large-6 columns">
			      <div class="row collapse prefix-radius">
			        <div class="small-3 columns">
			          <span class="prefix">Label</span>
			        </div>
			        <div class="small-9 columns">
			          <input type="text" placeholder="Value">
			        </div>
			      </div>
			    </div>
			    <div class="large-6 columns">
			      <div class="row collapse postfix-radius">
			        <div class="small-9 columns">
			          <input type="text" placeholder="Value">
			        </div>
			        <div class="small-3 columns">
			          <span class="postfix">Label</span>
			        </div>
			      </div>
			    </div>
			  </div>
			  <div class="row">
			    <div class="large-6 columns">
			      <div class="row collapse prefix-round">
			        <div class="small-3 columns">
			          <a href="#" class="button prefix">Go</a>
			        </div>
			        <div class="small-9 columns">
			          <input type="text" placeholder="Value">
			        </div>
			      </div>
			    </div>
			    <div class="large-6 columns">
			      <div class="row collapse postfix-round">
			        <div class="small-9 columns">
			          <input type="text" placeholder="Value">
			        </div>
			        <div class="small-3 columns">
			          <a href="#" class="button postfix">Go</a>
			        </div>
			      </div>
			    </div>
			  </div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="medium-8 columns">
		<form>
		  <div class="row">
		    <div class="large-6 columns">
		      <label class="error">Error
		        <input type="text" class="error" />
		      </label>
		      <small class="error">Invalid entry</small>
		    </div>
		    <div class="large-6 columns error">
		      <label>Another Error
		        <input type="text" />
		      </label>
		      <small class="error">Invalid entry</small>
		    </div>
		  </div>
		  <textarea class="error" placeholder="Message..."></textarea>
		  <small class="error">Invalid entry</small>
		</form>

		<label>
			  Name
			  <input type="text" name="name">
			</label>

		<label for="name">Name</label>
		<input type="text" name="name" id="name">

		</div>
		<div class="medium-12 columns">
	Foundation 5 forms <a href="http://foundation.zurb.com/docs/components/forms.html#customize-with-sass">SCSS Customization</a> docs.
	</div>
	<div class="medium-12 columns">
	Foundation 5 abide <a href="http://foundation.zurb.com/docs/components/abide.html">validation</a> docs.
	</div>
	</div>


</div>
<br>
<div class="row">
	<h3 id="switches" >Switches</h3>
	<hr>
	<div class="row">
		<div class="medium-4 columns">
		<h4>SWITCH</h4>
			<div class="switch">
			  <input id="exampleCheckboxSwitch" type="checkbox">
			  <label for="exampleCheckboxSwitch"></label>
			</div>
		</div>
		<div class="medium-4 columns end">
		<h4>RADIO SWITCH</h4>
			<!-- Using radio buttons – each switch turns off the other two -->
			<div class="switch small">
			  <input id="exampleRadioSwitch1" type="radio" checked name="testGroup">
			  <label for="exampleRadioSwitch1"></label>
			</div> 

			<div class="switch radius">
			  <input id="exampleRadioSwitch2" type="radio" name="testGroup">
			  <label for="exampleRadioSwitch2"></label>
			</div> 

			<div class="switch round large">
			  <input id="exampleRadioSwitch3" type="radio" name="testGroup">
			  <label for="exampleRadioSwitch3"></label>
			</div>
		</div>
	</div>
	<div class="medium-12 columns">
	<br>
	Foundation 5 switches <a href="http://foundation.zurb.com/docs/components/switch.html#customize-with-sass">SCSS Customization</a> docs.
	</div>
</div>
<br>
<div class="row">
	<h3 id="range_sliders">Range Sliders</h3>
	<hr>
		<div class="medium-6 columns">
			<div class="range-slider" data-slider>
			  <span class="range-slider-handle" role="slider" tabindex="0"></span>
			  <span class="range-slider-active-segment"></span>
			  <input type="hidden">
			</div>
		</div>
		<div class="medium-6 columns">
			<div class="range-slider vertical-range radius" data-slider data-options="vertical: true;">
			  <span class="range-slider-handle" role="slider" tabindex="0"></span>
			  <span class="range-slider-active-segment"></span>
			  <input type="hidden">
			</div>
		</div>
			<div class="medium-8 columns">
				<h4>With label</h4>
				  <div class="small-10 medium-11 columns">
				    <div class="range-slider round" data-slider data-options="display_selector: #sliderOutput3;">
				      <span class="range-slider-handle" role="slider" tabindex="0"></span>
				      <span class="range-slider-active-segment"></span>
				    </div>
				  </div>
				  <div class="small-2 medium-1 columns">
				    <span id="sliderOutput3"></span>
				  </div>
			</div>
			<div class="medium-8 columns">
				<h4>Fixed steps</h4>
				  <div class="range-slider" data-slider data-options="step: 20;">
					  <span class="range-slider-handle" role="slider" tabindex="0"></span>
					  <span class="range-slider-active-segment"></span>
					  <input type="hidden">
				</div>			
			</div>
			<div class="medium-8 columns end">
				<h4>Custom range</h4>
				<div class="small-10 medium-11 columns">
				  <div class="range-slider" data-slider data-options="start: 1; end: 10; display_selector: #Custom_range_Output;">
					  <span class="range-slider-handle" role="slider" tabindex="0"></span>
					  <span class="range-slider-active-segment"></span>
					  <input type="hidden">
					</div>
				</div>
				<div class="small-2 medium-1 columns">
				    <span id="Custom_range_Output"></span>
				  </div>			
			</div>
			<div class="medium-12 columns">
			<br>
			Foundation 5 range sliders <a href="http://foundation.zurb.com/docs/components/range_slider.html#customize-with-sass">SCSS Customization</a> docs.
			</div>
</div>
<br>
<div class="row">
	<h3 id="progress_bar">Progress bars</h3>
	<hr>
	<div class="medium-8 columns">
	<div class="progress small success radius">
	  <span class="meter" style="width: 60%"></span>
	</div>
	</div>
</div>
<br>
<div class="row">
	<h3 id="tables">Tables</h3>
	<hr>
	<div class="medium-12 columns">
	<table>
	  <thead>
	    <tr>
	      <th width="200">Table Header</th>
	      <th>Table Header</th>
	      <th width="150">Table Header</th>
	      <th width="150">Table Header</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Content Goes Here</td>
	      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	    </tr>
	    <tr>
	      <td>Content Goes Here</td>
	      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	    </tr>
	    <tr>
	      <td>Content Goes Here</td>
	      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	    </tr>
	  </tbody>
	</table>
	</div>
	<div class="medium-12 columns">
		<br>
		Foundation 5 table <a href="http://foundation.zurb.com/docs/components/tables.html#customize-with-sass">SCSS Customization</a> docs.
	</div>
</div>
<br>
<div class="row">
	<h3 id="content_stencils">Content stencils</h3>
	<hr>
	<p>Koristi content.liquid include. Iterira kroz JSON. Sa limit:x i offset: x mozes upravljati koje podatke prikazuje.</p>
	<div class="medium-8 columns">
	{% include "stencils/content"%}
	</div>
</div>

<div class="row">
	<h3 id="izleti">Izleti</h3>
	<hr>
	<p>Koristi izlet-card include te posebnu izlet.liquid stranicu koja predstavlja pojedini izlet.</p>
	<div class="medium-8 columns">
	{% include "stencils/izlet-card"%}
	</div>
</div>

	</div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/js/docs_sidebar.js"></script>
<script>
  $(document).ready(function(){
    $("#sticky-nav").sticky({topSpacing:50});
  });
</script>
{% endblock %}