{% layout "docs_layout" %}
{% block title %}Links{% endblock %}
{% block content %}
<div class="row">
	<h3 style="text-align:center;">Links</h3>
	<h5>Main</h5>
	<hr>
	<a href="http://foundation.zurb.com/docs/">Zurb Foundation for Sites documentation</a>
	<br>
	<a href="http://sudheerdev.github.io/Foundation5CheatSheet/">Zurb Foundation 5 Cheat Sheet</a>
	<br>
	<a href="http://fortawesome.github.io/Font-Awesome/examples/"><i class="fa fa-star"></i> Font Awesome examples <i class="fa fa-camera-retro"></i></a>
	<br>
	<a href="https://developers.google.com/chart/">Google charts</a>
	<br><br>
	<h5>Other</h5>
	<hr>
	<a href="http://mynameismatthieu.com/WOW/docs.html">WOW reveal animation JS</a>


</div>
{% endblock %}